@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin";
  font-weight: 400;
  src: url(./../../public/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin";
  font-weight: 700;
  src: url(./../../public/fonts/JosefinSans-Bold.ttf);
}

.light {
  --background : hsl(0, 0%, 100%);
  --todo-back : hsl(0, 0%, 100%);
  --complete : hsl(0, 0%, 98%); 
  /* 5 items */
  --text-one : hsl(236, 33%, 92%);  
  --input : hsl(233, 11%, 84%);
  /*  active */
  --text-two : hsl(236, 9%, 61%);
  --todo : hsl(235, 19%, 35%);
}
.dark {
  --background : hsl(235, 21%, 11%);
  --todo-back : hsl(235, 24%, 19%);
  --complete : hsl(237, 14%, 26%);
  --text-one : hsl(237, 14%, 26%);
  --input : hsl(234, 11%, 52%);
  --text-two : hsl(233, 14%, 35%);
  --todo : hsl(234, 39%, 85%);
}
